.chats-page-content {
  .chat-picture {
    border-radius: 50%;
    width: 50px;
    float: left;
    margin-left: 70px;
    position: absolute;
  }

  .favorites-style-count{
    
    float:left;
    position: absolute;
    margin: 18px 20px 0 0px;
  }

  .favorites-style-button{
    float: left;
    position: absolute;
    margin: 10px 0 0 30px;
  }

  .add-event-button{
    position: absolute;
    top: 15px;
    right: 34px;
  }

  .location-search-bar{
    position: absolute;
    top: 8px;
    right: 80px;
    left: 200px;
  }


  .header-margin{
    margin-top: 20px;
  }

  .search-bar-skinny {
  padding-bottom: 6px !important;
}
 
  .chat-info {
    float: left;
    margin: 0 0 0 140px !important;
    width:100px;
    word-wrap:break-word;
    display:inline-block      
 
    .last-message-timestamp {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 14px;
      color: #9A9898;
    }

  }

  .chat-title{
    font-size: 1.7rem !important;
    font-weight: 400 !important;
  }

  .chat-time{
  font-size: 1.25rem !important;
  }
}
.login-style .content-container{
  padding: 20px 12px !important;
  position: relative !important;
  margin-top: 0px !important;
  height: inherit !important;
  margin-right: inherit !important;
}

.login-style{
  vertical-align: -webkit-baseline-middle !important;
}

.my-events-button{
    margin-right: 20px;
  }

.blur-button{
  background-color: grey !important; 
  color: #ffe500 !important;
}

.blur-button:hover{
  animation: fillblue 2s;
  animation-fill-mode: forwards;
  -webkit-animation: fillblue 2s;  /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
}

.map-view-hover{
  cursor: pointer;
}

.favorite-hover:hover{
  animation: fillgold 2s;
  animation-fill-mode: forwards;
  -webkit-animation: fillgold 2s;  /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
}

@keyframes fillgold {
    from {}
    to {background-color: grey; color: #ffe500;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fillgold {
    from {}
    to {background-color: grey; color: #ffe500;}
}

@keyframes fillblue {
    from {}
    to {background-color: #488aff; color: white;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fillblue {
    from {}
    to {background-color: #488aff; color: white;}
}

.slide-image-1 {
    max-height: 50% !important;
    max-width: 60% !important;
    margin: 18px 0;
    margin-left: 22%;
    margin-bottom: 12%;
}

.slide-image-2 {
    max-height: 50% !important;
    max-width: 60% !important;
    margin: 18px 0;
    margin-left: 20%;
}

.slide-image-3 {
    max-height: 50% !important;
    max-width: 80% !important;
    margin: 18px 0;
    margin-left: 10%;
    margin-bottom: 25%;
}

.slide-image-4 {
    max-height: 50% !important;
    max-width: 69% !important;
    margin: 18px 0;
    margin-top: -3%;
    margin-bottom: 4%;
    margin-left: 15%;
    border: 9px lightgrey;
    border-style: solid;
}

.slide-title {
  font-weight: bold !important;
}

.about-text-1{
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: #60646B;
  margin-bottom: 5% !important;
}

.about-card{
    height: 75vh;
    width: 100vh !important;
    margin-left: 25% !important;
}

.dropdown-toggle{
  color:white;
}

.accounts-close{
  margin-right: 7px;
}

.bar-button-md[icon-only] {
  margin-right: 8px;
}